* {
  background-color: black;
  color: orange;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

body {
  text-align: center;
  margin: 20px;
}

.mainContent{
  display: flex;
  flex-direction: row;
}

#quiz-container {
  margin-top: 20px;
  margin: 0 auto;
  justify-content: center;
}

#question-container {
  margin-bottom: 20px; 
  font-size: 25px;
}

#answers-container {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px;
  border: solid orange;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: orange;
  color:black;
}

#timer {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: left;
  width: 200px;
}

#score {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  align-items: right;
}

#initials-container {
  display: none;
  margin-top: 20px;
}

#initials-container label {
  margin-right: 10px;
}

#initials {
  width: 50px;
  text-transform: uppercase;
}
